{% render 'partials/head.liquid' %}
<section class="error-page">
    <h1>Drop & Heal</h1>
    <svg
        clip-rule="evenodd"
        fill-rule="evenodd"
        image-rendering="optimizeQuality"
        shape-rendering="geometricPrecision"
        text-rendering="geometricPrecision"
        width="500"
        height="500"
        viewBox="0 0 173.397 173.397"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g id="Layer_x0020_1">
            <circle cx="86.699" cy="86.699" fill="#c36" r="84.667" />
            <g id="_436653736" fill="#fff">
                <path
                    id="_436654888"
                    d="m105.083 131.394-36.7698-.0002c-2.8439 0-5.154 2.3125-5.154 5.1541l.0001 3.4948c0 .9143.7424 1.6591 1.6568 1.6591h43.7641c.9145 0 1.6567-.7447 1.6567-1.6591l.0003-3.4949c0-2.8416-2.3125-5.1538-5.1542-5.1538z"
                />
                <path id="_436654792" d="m99.3613 113.526h-25.3254l.0002 15.228h25.325z" />
                <path
                    id="_436654480"
                    d="m129.084 103.761h-84.771c-2.168 0-3.9304-1.7622-3.9304-3.9302l.0002-45.1758-.0002-.0135.0002-.0135v-11.8781c0-2.1679 1.7621-3.9301 3.93-3.9301l84.7712-.0001c2.168 0 3.93 1.7625 3.93 3.9303v11.8915 45.1893c0 2.1679-1.7623 3.9303-3.93 3.9302zm-95.5764-68.4658.0001 71.9904c0 1.9846 1.6156 3.6002 3.6001 3.6002l99.1789-.0001c1.9868 0 3.6024-1.6155 3.6024-3.6l.0001-71.9905c0-1.9847-1.6157-3.6002-3.6026-3.6002h-99.1787c-1.9846 0-3.6003 1.6156-3.6003 3.6002z"
                />
                <path id="_436655128" d="m82.703 71.419.0002 14.2449c0 2.2023 1.7919 3.9968 3.9941 3.9968 2.2048-.0002 3.9968-1.7945 3.9968-3.9968l.0001-14.245c0-2.2022-1.7923-3.9943-3.9967-3.9943-2.2022 0-3.9945 1.7921-3.9945 3.9944z" />
                <path
                    id="_436654576"
                    d="m43.0228 55.9616v43.8694c0 .7127.5798 1.2903 1.2902 1.2903l84.7712-.0001c.7103 0 1.29-.5774 1.29-1.2902v-43.8694zm31.4761 35.0191v-10.3723h-4.833c-4.1206 0-7.4733-3.3525-7.4733-7.473l.0001-7.0308c0-.7311.5912-1.32 1.3199-1.32.7289 0 1.32.5889 1.32 1.32l.0001 7.0308c0 2.6651 2.1678 4.8331 4.833 4.8331l4.8332-.0001v-11.8638c0-.7311.5912-1.32 1.3199-1.32.7312 0 1.32.5889 1.32 1.32l.0001 13.1838-.0001.0058.0001 11.6863c0 .7289-.5913 1.3202-1.32 1.32-.7287 0-1.32-.5911-1.32-1.3198zm12.1986 1.3198c-3.6576 0-6.6345-2.9767-6.6345-6.6366l.0002-14.245c0-3.6575 2.9766-6.6343 6.6341-6.6343 3.6599 0 6.6368 2.9769 6.6368 6.6344l.0001 14.2449c0 3.6598-2.977 6.6368-6.6367 6.6366zm23.1848 0c-.7288 0-1.3178-.5911-1.3178-1.3198l.0002-10.3723h-4.8333c-4.1226 0-7.4732-3.3525-7.4732-7.473v-7.0308c0-.7311.5889-1.32 1.3177-1.32.7311 0 1.32.5889 1.32 1.32v7.0308c0 2.6651 2.1703 4.8331 4.8354 4.8331l4.8334-.0001v-11.8638c0-.7311.5887-1.32 1.3198-1.32.7287 0 1.32.5889 1.32 1.32l.0002 13.1838c0 .0272-.0009.054-.0025.0807l.0001 11.6114c0 .7289-.5891 1.3202-1.32 1.32z"
                />
                <path id="_436654744" d="m119.734 47.3909c0 1.1801.9601 2.1404 2.1404 2.1404 1.1802 0 2.1403-.9603 2.1403-2.1404.0003-1.1802-.9602-2.1405-2.1403-2.1405-1.18 0-2.1404.9603-2.1404 2.1405z" />
                <path id="_436655176" d="m108.484 47.3909c.0003 1.1801.9603 2.1404 2.1405 2.1404 1.1825 0 2.1427-.9603 2.1427-2.1404.0001-1.1802-.9602-2.1405-2.1426-2.1405-1.1803 0-2.1406.9603-2.1406 2.1405z" />
                <path id="_436655008" d="m97.2367 47.3909c.0002 1.1801.9603 2.1404 2.1404 2.1404 1.1804 0 2.1405-.9603 2.1405-2.1404 0-1.1802-.9603-2.1405-2.1404-2.1405-1.1802 0-2.1405.9603-2.1405 2.1405z" />
                <path id="_436654240" d="m84.0551 46.0364h-34.3313v2.7088h34.3313z" />
                <path
                    id="_436654360"
                    d="m86.695 44.7164.0001 5.3488c0 .7287-.5913 1.3201-1.32 1.32h-36.9713c-.7288 0-1.3202-.5913-1.3202-1.3199l.0002-5.3489c0-.7288.5911-1.32 1.3198-1.32h36.9715c.7289 0 1.3199.5913 1.3199 1.32zm42.389-3.2564-84.7708-.0001c-.7106 0-1.2904.5776-1.2904 1.2903v10.5715l87.3514-.0001v-10.5715c0-.7127-.5797-1.2901-1.2902-1.2901zm-29.7068 10.7113c-2.6376 0-4.7805-2.1427-4.7805-4.7804.0002-2.6355 2.1427-4.7805 4.7804-4.7805 2.6355 0 4.7805 2.145 4.7805 4.7805 0 2.6375-2.145 4.7804-4.7804 4.7804zm6.467-4.7804c.0003-2.6355 2.1451-4.7805 4.7805-4.7805 2.6378 0 4.7827 2.145 4.7827 4.7805.0001 2.6375-2.145 4.7804-4.7826 4.7804-2.6354 0-4.7806-2.1427-4.7806-4.7804zm11.2499 0c0-2.6355 2.1449-4.7805 4.7804-4.7805 2.6356 0 4.7804 2.145 4.7804 4.7805.0002 2.6375-2.1451 4.7804-4.7804 4.7804-2.6354 0-4.7804-2.1427-4.7804-4.7804z"
                />
            </g>
        </g>
    </svg>
    <h2>Hey there, there is <strong style="color: var(--color-rouwtaak2);">Something wrong</strong> happened.</h2>
    <a class="btn-standard" style="background-color: var(--color-rouwtaak1);" href="/1">Go Back Home</a>
</section>
